<% full_title(yield(:title)) %>
  <h1>punchApp</h1>
  
  <%= link_to "アカウントの追加", signup_path, class: "btn btn-lg btn-primary" %>
  <div>
    <%= form_for(@punch) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <ul>
        <% @users.each do |user| %>
          <li>
            <%= f.radio_button :user_id, "#{user.email}" %>
            <%= gravatar_for user, size: 50 %>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
        
        <%= f.label :password %>
        <%= f.password_field :password %>
        
        <%= f.submit "出社", name: "in", class: "btn btn-primary" %>
        <%= f.submit "退社", name: "out", class: "btn btn-primary" %>
    
    <% end %>
</div>