<% full_title(yield(:title)) %>
  <h1>punchApp</h1>
  
  <%= link_to "アカウントの追加", signup_path, class: "btn btn-lg btn-primary" %>
  <div>
    <%= form_for(@punch, url:{ controller: :punches, action: :create }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <ul>
        <% @users.each do |user| %>
          <li>
            <%= f.radio_button :user_id, "#{user.id}" %>
            <%= gravatar_for user, size: 50 %>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <label><%= f.radio_button :status, "in" %>出社</label>
        <label><%= f.radio_button :status, "out" %>退社</label>
        <%= f.submit "Punch!", class: "btn btn-primary" %>
    <% end %>
  </div>