<% provide(:title, 'Time table') %>

<%= link_to "戻る", root_path %>

<table>
  <div>
    <tr>
      <th>お名前</th>
      <th>出社</th>
      <th>退社</th>
    </tr>
  </div>
  <div>
    <tr>
      <% @punches.each do |punch| %>
      <td>
        <%= gravatar_for punch.user, size: 50 %>
        <%= link_to punch.user.name, punch.user %>
      </td>
      <td>
        <% if logged_in? && punch.user_id == current_user.id %>
          <%= link_to "#{punch.punch_at_in}", edit_punch_path(punch, edit: 'in') %>
        <% else %>
          <%= punch.punch_at_in %>
        <% end %>
      </td>
      <td>
        <% if punch.punch_at_out %>
          <% if logged_in? %>
            <% if punch.user_id == current_user.id %>
              <%= link_to "#{punch.punch_at_out}", edit_punch_path(punch, edit: 'out') %>
            <% else %>
              <%= punch.punch_at_out %>
            <% end %>
          <% end %>
        <% else %>
          <p>no punch</p>
        <% end %>
      </td>
      <% end %>
    </tr>
  </div>
</table>